div.modal-content.spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & p {
        font-size: 1.6rem;
        margin: 0;
    }

    & img {
        width: 12rem;
        padding: 2rem;
    }
}