html {
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-shrink: 0;
	font-size: 1.4rem;
	justify-content: center;
	align-items: center;
	height: 3.6rem;
	background-color: rgba(0,0,0,0.5);
	margin-top: 1rem;

	& p {
		color: #fff;
		margin: 0;
	}
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; 
}

a {
	outline: 0!important;
}

@import "tables";
